	a:link {
		color:black;
		background-color:transparent;
		text-decoration:none;
	}
	a:visited {
		color:black;
		background-color:transparent;
		text-decoration:none;
	}
	a:hover {
		color:blue;
		background-color:transparent;
		text-decoration:none;
	}
	topright {
		position:absolute;
		top:8px;
		right:16px;
	}